.team-color {
    &.Golden-Knights {
        color: var(--color-Knights);
    }
    &.Knights {
        color: var(--color-Knights);
    }
    &.Predators {
        color: var(--color-Predators);
    }
    &.Hurricanes {
        color: var(--color-Hurricanes);
    }
    &.Islanders {
        color: var(--color-Islanders);
    }
    &.Jets {
        color: var(--color-Jets);
    }
    &.Avalanche {
        color: var(--color-Avalanche);
    }
    &.Capitals {
        color: var(--color-Capitals);
    }
    &.Kings {
        color: var(--color-Kings);
    }
    &.Lightning {
        color: var(--color-Lightning);
    }
    &.Panthers {
        color: var(--color-Panthers);
    }
    &.Rangers {
        color: var(--color-Rangers);
    }
    &.Stars {
        color: var(--color-Stars);
    }
    &.Oilers {
        color: var(--color-Oilers);
    }
    &.Canucks {
        color: var(--color-Canucks);
    }
    &.Bruins {
        color: var(--color-Bruins);
    }
    &.Leafs {
        color: var(--color-Leafs);
    }
    &.Maple-Leafs {
        color: var(--color-Leafs);
    }
}

.team-bg {
    &.Golden-Knights {
        background-color: var(--color-Knights);
    }
    &.Knights {
        background-color: var(--color-Knights);
    }
    &.Predators {
        background-color: var(--color-Predators);
    }
    &.Hurricanes {
        background-color: var(--color-Hurricanes);
    }
    &.Islanders {
        background-color: var(--color-Islanders);
    }
    &.Jets {
        background-color: var(--color-Jets);
    }
    &.Avalanche {
        background-color: var(--color-Avalanche);
    }
    &.Capitals {
        background-color: var(--color-Capitals);
    }
    &.Kings {
        background-color: var(--color-Kings);
    }
    &.Lightning {
        background-color: var(--color-Lightning);
    }
    &.Panthers {
        background-color: var(--color-Panthers);
    }
    &.Rangers {
        background-color: var(--color-Rangers);
    }
    &.Stars {
        background-color: var(--color-Stars);
    }
    &.Oilers {
        background-color: var(--color-Oilers);
    }
    &.Canucks {
        background-color: var(--color-Canucks);
    }
    &.Bruins {
        background-color: var(--color-Bruins);
    }
    &.Leafs {
        background-color: var(--color-Leafs);
    }
    &.Maple-Leafs {
        background-color: var(--color-Leafs);
    }
}

.team-border {
    &.Golden-Knights {
        border-color: var(--color-Knights);
    }
    &.Knights {
        border-color: var(--color-Knights);
    }
    &.Golden-Knights {
        border-color: var(--color-Knights);
    }
    &.Predators {
        border-color: var(--color-Predators);
    }
    &.Hurricanes {
        border-color: var(--color-Hurricanes);
    }
    &.Islanders {
        border-color: var(--color-Islanders);
    }
    &.Jets {
        border-color: var(--color-Jets);
    }
    &.Avalanche {
        border-color: var(--color-Avalanche);
    }
    &.Capitals {
        border-color: var(--color-Capitals);
    }
    &.Kings {
        border-color: var(--color-Kings);
    }
    &.Lightning {
        border-color: var(--color-Lightning);
    }
    &.Panthers {
        border-color: var(--color-Panthers);
    }
    &.Rangers {
        border-color: var(--color-Rangers);
    }
    &.Stars {
        border-color: var(--color-Stars);
    }
    &.Oilers {
        border-color: var(--color-Oilers);
    }
    &.Canucks {
        border-color: var(--color-Canucks);
    }
    &.Bruins {
        border-color: var(--color-Bruins);
    }
    &.Leafs {
        border-color: var(--color-Leafs);
    }
    &.Maple-Leafs {
        border-color: var(--color-Leafs);
    }
}